<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>tinyApp</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }

    .delete-button { display: inline; }

    td {
      padding: 5px;
    }

    footer {
      padding-top: 20px;
    }

</style>