<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body class="container">

  <% include ./partials/_navbar %>

  <div class="container">
    <h2>ShortURL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></h2>

    <form class="form-group input-group col-sm-6" method="POST" action="/urls/<%= shortURL %>">
      <input class="form-control" name="longURL" value="<%= utils.getLongURL(shortURL) %>">
      <div class="input-group-btn">
        <button type="submit" name="update" value="update" class="btn btn-default">update</button>
      </div>
    </form>
  </div>

  <% include ./partials/_footer %>
</body>
</html>