<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body class="container">
  <% include partials/_navbar %>
  <form action="/urls" method="POST" style="margin:100px;">
    <label for="longURL">Enter a URL to shorten:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
  <% include ./partials/_footer %>
</body>
</html>