<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body class="container">
    <header>
      <% include ./partials/_header %>
    </header>

    <p><a href="<%= urls[shortURL] %>"><%= urls[shortURL] %></a></p>
    <p><a href="/<%= shortURL %>"><%= host + "/" + shortURL %></a></p>

  </body>
</html>